<html>
    <head>
        <%- include('../partials/head'); %>
    </head>

    <%- include('../partials/navbar'); %>
    <body class="container">
        <h1>
            Welcome!
        </h1>
        <div>
            <div class="container">
                <%= message %>
            </div>
        </div>
    </body>
</html>